.tabla{/*Tabla que contiene a las cuatro subtablas*/
      width: 100%;
      margin: auto;
      text-align: center;
      padding-top: 50px;
}
/*Subtabla*/
.tablax4{
    float: left;
    width: 25%;
    margin-top: 20px;
}

.tablaxd{/*Tabla de precios 2*/
    float: left;
    width: 25%;
    margin-top: 10px;
}

.caja-precio{
      border: 1px solid #5c6552;
      background: #30353c;
      font-family: 'Lato', sans-serif;
      margin-bottom: 50px;
}

.icono-precio{
    color: #85c34a;
    padding-top: 20px;
    font-size: 3em;/*em tamaño texto*/
    padding-bottom: 10px;
}

.caja-precio:hover{
   border: 5px solid #85c34a;
}

.caja-precio h4{
    color: #fff;
}

.precio-1{
    color: #85c34a;
    font-size: 50px;
    font-weight: bold;/*Letra en negrita*/
}

/*Signo Peso*/
.dolar{
    font-size: 20px;
    vertical-align: super;/*sube el signo peso*/
}

.mes{
    font-size: 15px;
    color:#999;
    vertical-align: text-bottom;
}

.lista-precios{
    list-style: none; /*Quita los puntitos de la lista*/
    padding: 20px 0;
    color: #81867D;
    padding-bottom: 50px;
}

.lista-espacios{
      padding: 0.25em;
      font-size:15px;
}

.boton-contratar{
    margin-bottom: 25px;
}

.contratar-a{
    background: #85c34a;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;/*textos en mayúsculas*/
    font-weight: bold;
    padding: 10px 70px;/*Tamaño de la caja del botón: inferior y superior de 10 y a los lados de 70*/
    letter-spacing: 1px;/*Espacio entre letras de 1px*/
    width: 90%;
}
.contratar-a:hover{
    background: #777;
}

.destacado{
   background-color: #FFF;
   box-shadow: 0 0 8px rgba(0, 0, 0, .9);
   z-index: 500;/*Para asegurarnos que quede en la parte superior*/

}
.destacado h4{
    color: #30353c;
    font-size: 30px;
}
.destacado .icono-precio{
    font-size: 4em;
}
.destacado .contratar-a{
    background: #30353c;
}
.destacado .contratar-a:hover{
    background: #777;
}
.fa-star{
    color: #30353c;
}